<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="data:,">
    <title>Home</title>
</head>

<body>
    <h1>Film Details:</h1>

    <div class="wrapper_one_film">


        <div>
        <img src=<%="http://image.tmdb.org/t/p/w400" + data2.poster_path %> alt="">

        </div>

        <div class="film_description">
            <h2>
                <%= data2.title %>
            </h2>

            <h3>Short description:</h3>

            <p><%= data2.overview %></p>

            <h3 class="genres_inline">Genres:</h3>

            <% data2.genres.forEach(element => { %>
                <span><%= element.name %> / </span> 
            <% }) %>




            <h4>Relesase date:  <%= data2.release_date %></h4>

        </div>
       


    </div>
</body>

</html>